body{
    margin-top: 200px;
    background-color: black;
    overflow-x: hidden;
}
.container{
    margin-top: 100px;
    background-repeat: no-repeat;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-right: 100px;
}
